@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.arrow {
  transition: transform 0.3s ease; /* Add smooth transition */
}

.componentServicii:hover .arrow {
  transform: translateX(30px); /* Move arrow to the right on hover */
}

.btnRezultate {
  width: 300px;
  align-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  border-radius: 5px;
}

/* Add this to your CSS file */
.text-outline {
  -webkit-text-stroke: 1px white; /* Adjust the width and color of the stroke as needed */
  color: red; /* The fill color of the text */
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  z-index: 999999;
  cursor: pointer;
  opacity: 0.8;
  transition: ease 0.3s;
  animation: 1s ease-out 0s 1 slideInRight;
}

.whatsapp:hover {
  opacity: 1;
  transition: ease 0.3s;
}

.hide {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 100px;
  width: 220px;
  height: 60px;
  background-color: rgb(45, 175, 66);
  z-index: 999999;
  justify-items: center;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.4s;
}

.hide p {
  padding-top: 5px;
}

.parinte:hover .hide {
  opacity: 1;
  visibility: visible;
  transition: 0.7s;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
